body {
    background-color: #f0ffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #00ccff;
    color: #08286e;
    height: 120px;
}
header h1 {
    font-size: 50px;
}
main {
    background-color: aliceblue;
}
p {
    font-size: 18px;
}

section {
    border: 3px solid #00ccff;
}
h2 {
    color: #066fd8;
    font-size: 27px;
}
ul {
    border: 2px solid green;
    color: green;
}